# .gitignore

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Ignore Python distribution artifacts
dist/
build/
*.egg-info/

# Ignore Python virtual environments
venv/
cookies.dat
