<!--Problem Description-->
<section class="RankEditor">
    <section style="border: 0px none;">
        <section style="padding: 10px;">
            <section style="width: 100%;text-align: center;">
                <p class="title active" style="font-size: 18px; color: rgb(228, 130, 16); min-width: 1px;">
                    Solution
                </p>
                <section style="width: 180px; margin-right: auto; margin-left: auto;">
                    <img src="http://img.xdnphb.com/ueditor/edit/upload/image/20171214/1513222917052065016.png"
                         style="display: block;width: 100%; vertical-align:top;"
                         onerror="this.parentNode.removeChild(this)"
                         />
                </section>
            </section>
        </section>
    </section>
</section>
{{Solution}}

<!--Problem Description-->
<section class="RankEditor">
    <section style="border: 0px none;">
        <section style="padding: 10px;">
            <section style="width: 100%;text-align: center;">
                <p class="title active" style="font-size: 18px; color: rgb(228, 130, 16); min-width: 1px;">
                    Submission
                </p>
                <section style="width: 180px; margin-right: auto; margin-left: auto;">
                    <img src="http://img.xdnphb.com/ueditor/edit/upload/image/20171214/1513222917052065016.png"
                         style="display: block;width: 100%; vertical-align:top;"
                         onerror="this.parentNode.removeChild(this)"
                         />
                </section>
            </section>
        </section>
    </section>
</section>
{{Submission}}